.mapboxgl-map {
  z-index: -1;
}
.tooltip__img {
  width: 100%;
}

.flatpickr-input {
  cursor: pointer;
  font-family: helvetica;
  color: #9cb5bb;
  border-radius: 4px;
  padding: 5px;
  background-color: #2c3e50;
  border: none;
  font-size: 13px;
  text-align: center;
}

.flatpickr-calendar {
  position: absolute;
  top: -30px;
}

.search__wrapper {
  display: flex;
  position: absolute;
  width: 60%;
  top: 40px;
  left: 20%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0.65;
  border-radius: 5px;
}

.search__wrapper:hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.search__comp {
  height: 80%;
  width: 100%;
  padding-top: 4px;
  padding-left: 7px;
  padding-right: 20px;
}

.toggle__text {
  font-size: 8px;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 2px;
}

.search__form {
  width: 660px;
  height: 53px;
  background-color: #95a5a6;
  border: 2px solid #95a5a6;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

i {
  font-size: 1.5em;
}
.hover {
  opacity: 1;
}

.search__input {
  width: 100%;
  border-radius: 4px;
  height: 80%;
  border: 0;
  padding-left: 5px;
  font-size: 20px;
}

.headerSearch__submit {
  border: 0;
  padding: 0;
  background: url(https://a-v2.sndcdn.com/assets/images/header/search-dbfe5cb.svg)
    0 0 no-repeat;
  width: 15px;
  height: 15px;
  position: relative;
  top: -24px;
  float: right;
  margin-right: 3px;
}

.fas {
  padding-top: 2px;
}

.calendar__wrapper {
  display: flex;
  align-items: center;
  background-color: #95a5a6;
  padding-left: 10px;
  padding-right: 10px;
}

.popup {
  border: 6px solid #fff;
  width: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  z-index: 10;
}

.header__wrapper {
  background-color: #fff;
  border-bottom: 1px solid #80808047;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #fff;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #fff;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #fff;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #fff;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #fff;
}
.mapboxgl-popup-content {
  padding: 0px;
  border-radius: 6px;
}
.calendar {
  width: 55px;
  height: 25%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px solid #9cb5bb;
}
.popup__month {
  margin-bottom: 3px;
  margin-top: 0px;
  background-color: #3eb1cf;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.toggle {
  width: 90px;
  height: 45px;
  display: flex;
  border: 5px solid #95a5a6;
  border-right: 7px solid #95a5a6;
  border-left: 7px solid #95a5a6;
}

.selected {
  background-color: #3eb1cf;
  color: #fff;
  text-shadow: 0 0 6px #2c3e50, 0 0 9px #9cb5bb;
}

.toggle__calendar {
  display: flex;
}

.artist__toggle,
.city__toggle {
  width: 50%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.artist__toggle:not(.selected),
.city__toggle:not(.selected) {
  background-color: #c74129;
}

.removed {
  -webkit-animation: disapear 1s;
  -webkit-animation-fill-mode: forwards;
  animation: disapear 1s;
  animation-fill-mode: forwards;
  transition: opacity 400ms ease;
  position: absolute;
  opacity: 0;
}

.shrink {
  width: 49%;
  -webkit-transition: width 2s;
  transition: width 2s;
}
.grow {
  width: 60%;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.moveIn {
  -webkit-animation: moveIn 1s;
  -webkit-animation-fill-mode: forwards;
  animation: moveIn 1s;
  animation-fill-mode: forwards;
}
.moveBack {
  -webkit-animation: moveBack 1s;
  -webkit-animation-fill-mode: forwards;
  animation: moveBack 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes disapear {
  0% {
    -webkit-transform: translateX(350%);
    transform: translateX(350%);
  }
  100% {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
  }
}

@keyframes disapear {
  0% {
    -webkit-transform: translateX(350%);
    transform: translateX(350%);
  }
  100% {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
  }
}

@-webkit-keyframes moveIn {
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}

@keyframes moveIn {
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}

@-webkit-keyframes moveUp {
  100% {
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
  }
}

@keyframes moveUp {
  100% {
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
  }
}
@-webkit-keyframes moveBack {
  0% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes moveBack {
  0% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes shrink {
  5% {
    -webkit-transform: translateX(-360%);
    transform: translateX(-360%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes shrink {
  5% {
    -webkit-transform: translateX(-360%);
    transform: translateX(-360%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.popup__info {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}

.popup__time {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #3e2f33;
  margin-top: 0px;
  margin-bottom: 0px;
}

.datetime__wrapper {
  display: flex;
  justify-content: space-around;
}

.popup__day {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 9px;
  color: #202020;
}

.popup__header {
  padding-left: 5px;
  margin-top: 5px;
  padding-right: 5px;
  margin-bottom: 8px;
  text-align: center;
  color: #3e2f33;
  margin-bottom: 10px;
}

.info-image-holder {
  width: 220px;
  height: 160px;
}

.info-image-holder > img {
  display: block;
  justify-self: center;
  position: absolute;
  display: block;
  object-fit: cover;
  height: 160px;
  width: 220px;
}

.popup__content {
  background-color: #fff;
  margin-top: 5px;
}

.popup__venue {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #3e2f33;
}

.popup__location {
  text-align: center;
  margin-top: 0px;
  color: #3e2f33;
  font-weight: 400;
  margin-bottom: 0px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

.dropdown__wrapper {
  list-style: none;
  position: absolute;
  top: 69%;
  width: 50%;
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  border-bottom: 2px solid #95a5a6;
  border-right: 2px solid #95a5a6;
  border-left: 2px solid #95a5a6;
}

.dropdown__item {
  padding-top: 4px;
  background-color: #4e6565af;
  color: #95a5a6;
  padding-bottom: 4px;
  border-bottom: 1px dotted #2c3e506d;
}

.hover-selected {
  color: #c74129;
}

.dropdown__item:hover {
  color: #c74129;
}

.highlighted svg g:nth-child(2) {
  fill: #3eb1cf;
}

.pulsate {
  -webkit-animation: pulsate 2s ease-out;
  color: rgb(203, 31, 31);
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
  0% {
    color: #c74129;
    opacity: 1;
  }
  50% {
    opacity: rgb(203, 31, 31);
    opacity: 0.75;
  }
  100% {
    opacity: #c74129;
    opacity: 1;
  }
}

.selected__wrapper {
  position: absolute;
  bottom: 40px;
  min-width: 25%;
  right: 5%;
  pointer-events: none;
  background-color: #9cb5bbd9;
  display: flex;
  border: 1px solid #4e6565;
  border-radius: 5px;
  z-index: 1;
}

.selected__venue {
  color: #2c3e50;
}
.selected__header {
  color: #c74129;
}

.selected__header {
  padding: 6px;
  font-size: 20px;
  border-right: 1px solid #4e6565;
  height: 80%;
  text-align: center;
  vertical-align: center;
}

.selected__header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected__venue {
  font-size: 13px;
}

.selected__content {
  width: 100%;
  padding-left: 15px;
}

p {
  padding-top: 0;
  padding-bottom: 0px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
  transition: opacity 400ms ease;
  position: absolute;
  opacity: 0;
}
.fadeOut {
  -webkit-animation: fadeOut 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
  transition: opacity 400ms ease;
  position: absolute;
  opacity: 0;
  z-index: -100;
}

@keyframes shrink {
  5% {
    -webkit-transform: opacity(0%);
    transform: opacity(0%);
  }

  100% {
    -webkit-transform: opacity(100%);
    transform: opacity(100%);
  }
}

.guide__wrapper {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: #9cb5bbd9;
  color: #2c3e50;
  border: 1px solid #4e6565;
  border-radius: 5px;
}

.guide__portal {
  background: linear-gradient(to right, #c7412980, #05f14080);
  height: 40px;
  margin-bottom: 0px;
}

.guide__text {
  padding: 4px;
}

.guide__flex {
  display: flex;
  justify-content: space-between;
}

.guide__flex > p {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 12px;
}

.guide__flex > div {
  text-align: center;
}

.arrow {
  border: solid #c74129;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}

.guide__p {
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 4px;
}

.popup__buy {
  color: #ecf0f1;
  font-weight: 600;
  background-color: #3eb1cf;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.popup__buy:hover {
  background-color: #c74129;
}

@media only screen and (min-width: 260px) {
  .search__wrapper {
    position: unset;
    width: 100%;
    display: grid;
  }

  .search__form {
    width: 100%;
  }

  .toggle__calendar {
    flex-direction: column;
  }

  .flatpickr-input {
    width: 100%;
  }

  .toggle {
    width: 100%;
    border: none;
    border-bottom: 5px solid #95a5a6;
    border-top: 5px solid #95a5a6;
  }

  .dropdown__wrapper {
    top: 119px;
    width: 100%;
  }

  .moveIn {
    -webkit-animation: moveUp 1s;
    -webkit-animation-fill-mode: forwards;
    animation: moveUp 1s;
    animation-fill-mode: forwards;
  }
  .moveBack {
    -webkit-animation: moveDown 1s;
    -webkit-animation-fill-mode: forwards;
    animation: moveDown 1s;
    animation-fill-mode: forwards;
  }
}

@media only screen and (min-width: 600px) {
  .search__wrapper {
    position: absolute;
    width: 60%;
    display: flex;
  }

  .search__form {
    width: 660px;
  }

  .toggle__calendar {
    flex-direction: row;
  }

  .flatpickr-input {
    width: unset;
  }

  .toggle {
    width: 90px;
    border: 5px solid #95a5a6;
    border-right: 7px solid #95a5a6;
    border-left: 7px solid #95a5a6;
  }

  .dropdown__wrapper {
    top: 69%;
    width: 50%;
  }

  .moveIn {
    -webkit-animation: moveIn 1s;
    -webkit-animation-fill-mode: forwards;
    animation: moveIn 1s;
    animation-fill-mode: forwards;
  }
  .moveBack {
    -webkit-animation: moveBack 1s;
    -webkit-animation-fill-mode: forwards;
    animation: moveBack 1s;
    animation-fill-mode: forwards;
  }
}
