.tooltip__img {
  width: 100%;
}

.popup {
  border: 6px solid #4e6565;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  background-color: #dfd4ad;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #4e6565;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #4e6565;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #4e6565;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #4e6565;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #4e6565;
}
.mapboxgl-popup-content {
  padding: 0px;
  border-radius: 6px;
}
.calendar {
  width: 25%;
  height: 25%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px solid #3e2f33;
}
.popup__month {
  margin-bottom: 3px;
  margin-top: 0px;
  background-color: #3e2f33;
  text-align: center;
  font-weight: 600;
  color: #ba4151;
}

.popup__info {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}

.popup__time {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #3e2f33;
  margin-top: 0px;
  margin-bottom: 0px;
}

.datetime__wrapper {
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid #d67380;
  border-top: 3px solid #868581;
}

.popup__day {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 9px;
  color: #3e2f33;
}

.popup__header {
  padding-left: 5px;
  margin-top: 0px;
  padding-right: 5px;
  margin-bottom: 8px;
  text-align: center;
  color: #3e2f33;
  margin-bottom: 5px;
}

.popup__content {
  background-color: #ba4151;
}

.popup__venue {
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #3e2f33;
}

.popup__location {
  text-align: center;
  margin-top: 0px;
  color: #3e2f33;
  font-weight: 400;
  margin-bottom: 0px;
}
